[Unit]
Description=Update on boot (via ansible)
OnFailure=status-email-user@%n.service
Requires=network-online.target
After=network-online.target
Wants=network-online.target
Requires=systemd-timesyncd.service
After=systemd-timesyncd.service
Wants=systemd-timesyncd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-playbook -i /usr/local/update-on-boot/inventory /usr/local/update-on-boot/main.yml

[Install]
WantedBy=multi-user.target
